@model Category
@{
    ViewData["Title"] = "Create";
}
<div class="content-wrapper">
    <section class="content">
        <div class="row" style="display: flex; justify-content: center; align-items: center; align-content: center; padding-top: 142px;">
            <div class="col-lg-7">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Create Category</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal" method="post">
                        <div class="card-body" style="width:30vw;">
                            <div class="form-group row">
                                <label for="inputEmail3" asp-for="Name" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="Name" class="form-control" id="inputEmail3" placeholder="Name">
                                </div>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Submit</button>
                            <button type="submit" asp-action="Index" class="btn btn-default float-right">Cancel</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
            </div>
        </div>
        </section>
    </div>

@section Script{ 
    <<script src="<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>"></script>
}