@model Category
@{
    ViewData["Title"] = "Delete";
}

<div class="row" style="align-items:center;justify-content:center;!important">
    <div class="col-lg-9 my-5">
        <div class="card-body">
            <blockquote class="blockquote blockquote-primary">
                <div class="blockquote-danger mb-3">Category -- @Model.Name</div>
                <p>Description -- @Html.Raw(Model.Description)</p>
            </blockquote>
            <div class="row mt-3 ml-3">
                <form method="post">
                    <button class="btn btn-danger mr-3" type="submit">Delete</button>
                </form>
                <a class="btn btn-warning" asp-action="Index">Cancel</a>
            </div>
        </div>
        
    </div>
</div>



