@model Category
@{
    ViewData["Title"] = "Update";
}

<div class="row" style="align-items:center;justify-content:center;margin-top:150px">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title my-3">Update Category</h4>
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label></label>
                        <input class="form-control" asp-for="Name"  name="name" placeholder="Name">
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label></label>
                        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                    <a class="btn btn-warning" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

